html,body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
a{
  text-decoration: none;
  color: inherit;
}
a:hover{
  text-decoration: none;
  color: grey;
}
@media (prefers-color-scheme: light) {
  body {
    background: #F8F9FA;
    color: #343A40;
  }
  .home{
    background: #F8F9FA;
  }
  .social{
    box-shadow: -3px -3px 7px #ffffffb2, 3px 3px 5px rgba(94, 104, 121, 0.945);
  }
  .socialIcon{
    box-shadow: -3px -3px 7px #ffffffb2, 3px 3px 5px rgba(94, 104, 121, 0.945);
  }
  .resume{
    box-shadow: -3px -3px 7px #ffffffb2, 3px 3px 5px rgba(94, 104, 121, 0.945);
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background: #343A40;
    color: #FFF;
  }
  .home{
    background: rgb(52,58,64);
  }
  

}
input{
  -webkit-appearance: none;
}
textarea{
  -webkit-appearance: none;
}
.myname{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: right;
  padding-right: 10%;
  padding-top: 10%;
}
.home{
  height: 90vh;
  justify-content: right;
  text-align: right;
  
}
.singh{
  color: #ff8300;
}
.navlink:hover{
  color: #ff8300 !important;
}
.description{
  width: 30%;
  justify-content: right;
  margin-left: 60%;
  text-align: right;
}

.column1 {
  float: left;
  width: 50%;
  padding-top: 7%;
  align-items: center;
  text-align: center;
}


.column2 {
  float: left;
  width: 50%;
  padding: 15px;
  text-align: center;
  align-items: center;
  padding-top: 10%;
  padding-right: 5%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Clear floats after the columns */

.logoimg{
  width: 50%;
  height: auto;
  background: #F8F9FA;
	border-radius: 50%;
	box-shadow: -3px -3px 7px #ffffffa6, 3px 3px 5px rgba(94, 104, 121, 0.712);
  position: relative;
  transition: transform .2s;
}
.logoimg:hover{
  box-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.692);
  transform: scale(1.05)
}
.resume{
  align-self: center;
  justify-content: center;
  border: none;
  background: #F8F9FA;
  width: 50%;
  height: 40px;
  border-radius: 5px;
  color: #ff8300;
}
.resume:hover{
  box-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.692);
}

.social{
  align-self: center;
  justify-content: center;
  border: none;
  background: #F8F9FA;
  width: 50%;
  height: 40px;
  border-radius: 5px;
	box-shadow: -3px -3px 7px #ffffffb2, 3px 3px 5px rgba(94, 104, 121, 0.945);
}
.socialIcon{
  display: inline-block;
  border-radius: 7px;
  margin: 2%;
  color: #ff8300;
}
.socialIcon:hover{
  box-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.692);
}
.projects{
  padding: 2%;
  margin-top: 10%;
}
.projectscolor{
  color: #ff8300 !important;
}
.projectsTitle{
  text-align: center;
  margin: 2%;
}
.neo{
  padding: 0.5%;
  padding-bottom: 3%;
  background: #F8F9FA;
	border-radius: 5px;
	box-shadow: -3px -3px 7px #ffffffb2, 3px 3px 5px rgba(94, 104, 121, 0.945);
}
.skills{
  height: 85vh;
  padding: 3%;
  margin-top: 13%;
}

.skillLabel{
  color: #ff8300;
}

.skillsColumn1 {
  float: left;
  width: 40%;
  padding-top: 7%;
  align-items: center;
  text-align: left;
}


.skillsColumn2 {
  float: left;
  width: 60%;
  padding: 15px;
  text-align: left;
  align-items: center;
  padding-top: 1%;
  padding-right: 5%;
}
.skillMeter{
  width: auto;
  height: auto;
  border-radius: 7px;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
	border-radius: 5px;
	box-shadow: -3px -3px 7px #ffffffb2, 3px 3px 5px rgba(94, 104, 121, 0.945);
}
.skillimg{
  margin: 3%;
  width: 20%;
  height: auto;
  align-items: center;
  text-align: center;
  width: 20%;
}
.contact{
  text-align: center;
  height: 100vh;
  
}
.me{
  color: #ff8300;
}
.contact-div{
  display: flex;
  margin-top: 6%;
  align-items: center;
  justify-content: center;
  display: inline-block;
  background-color: rgb(52,58,64);
  width: 60vw;
  height: 75vh;
  border-radius: 7px;
  padding-top: 1%;
  background: #F8F9FA;
	border-radius: 5px;
	box-shadow: -3px -3px 7px #ffffffb2, 3px 3px 5px rgba(94, 104, 121, 0.945);
}
.inputName{
  width: 50vw;
  display: inline-block;
  margin-top: 2%;
  border-radius: 5px;
  background: #F8F9FA;
  border-radius: 5px;
  box-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.692);
  height:7vh;
}
input{
  border-radius: 7px;
  height: 10%;
  padding: 0 13px;
  border: none;
  text-decoration: none;
  
}
textarea:focus, input:focus{
  outline: none;
}
.inputEmail{
  display: inline-block;
  width: 50vw;
  margin-top: 1%;
  border: none;
  background: #F8F9FA;
  border-radius: 5px;
  border-radius: 5px;
  box-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.692);
  height:7vh;
}
.message{
  display: inline-block;
  width: 50vw;
  padding: 10px 13px;
  margin-top: 1%;
  height: 35vh;
  border-radius: 7px;
  border: none;
  background: #F8F9FA;
  border-radius: 5px;
  box-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.692);
  resize: none;
  margin-bottom: 1%;
  
}
.contact-div button{
  margin: 0 auto;
  border-radius: 6px;
  width: 120px;
  margin-bottom: 1%;
}
.submit{
  display: flex;
  justify-content: center;
  border: none;
  background: #F8F9FA;
  border-radius: 5px;
  box-shadow: -3px -3px 7px #ffffffb2, 3px 3px 5px rgba(94, 104, 121, 0.945);
  margin-bottom: 1%;
}
.submit:hover{
  box-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.692);
}
.footer{
  display: flex;
  text-align: center;
  justify-content: center;
  color: #ff8300;
  margin-bottom:2% ;
}

.footerIcons{
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 2.5rem;
  margin:10px;
  border-radius: 7px;
  color: #ff8300;
}
.footerIconsDiv{
  display: flex;
  text-align: center;
  justify-content: center;
}
@media screen and (max-width: 500px) {
  * {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
  }
  .logoimg{
    width: 95vw;
  }
  .home{
    height: 100vh;
  }
  .projects{
    margin-top: 30%;
  }
  
  .column1 {
    width: 100vw;
    align-items: center;
    padding: 25px;
  }
  .column2 {
    width: 100vw;
    padding-right: 0;
    margin: 2vw;
    padding: 15px;
    padding-right: 20px;
  }
  .skills{
    height: 75vh;
  }
  .skillsColumn1 {
    width: 100vw;
    padding: 25px;
  }
  .skillsColumn2 {
    width: 100vw;
    
  }
  .contact{
    box-sizing: border-box;
    margin-bottom: 1%;
  }
  .contact-div{
    height: 100px;
  }

.contact{
  height: 80vh;
}

  .contact-div{
    width: 95vw;
    height: auto;
    margin-top: 30%;
  }
  input{
    height: 50px;
    margin: 6px;
  }
  .inputName{
    width: 85vw;
  }
  .inputEmail{
    width: 85vw;
    margin-top: 2%;
  }
  .message{
    width: 85vw;
    margin-top: 2%;
    height: 60vw;
  }
  .footer{
  height: 10vh;
  font-size: large;
  }
}
@media (prefers-color-scheme: dark) {
  .singh{
    color: #39FF14;
  }
  .navlink:hover{
    color: #39FF14 !important;
  }
  .logoimg:hover{
    box-shadow: inset -3px -3px 7px #222222, inset 3px 3px 5px rgba(0, 0, 0,1);
    transform: scale(1.05)
  }

  .resume:hover{
    box-shadow: inset -3px -3px 7px #222222, inset 3px 3px 5px rgba(0, 0, 0,1);
  }
  .socialIcon:hover{
    box-shadow: inset -3px -3px 7px #222222, inset 3px 3px 5px rgba(0, 0, 0,1);
  }
  .socialIcon{
    color: #39FF14;
    background-color: black;
  }
  
  .contact-div{
    background: black;
    color: #FFF;
    box-shadow: -3px -3px 7px #222222, 3px 3px 5px rgba(0, 0, 0, 1);
  }
  .inputName{
    background: black;
    color: #FFF;
    box-shadow: inset -3px -3px 7px #222222, inset 3px 3px 5px rgba(0, 0, 0,1);
  }
  .inputEmail{
    background: black;
    color: #FFF;
    box-shadow: inset -3px -3px 7px #222222, inset 3px 3px 5px rgba(0, 0, 0,1);
  }
  .message{
    background: black;
    color: #FFF;
    box-shadow: inset -3px -3px 7px #222222, inset 3px 3px 5px rgba(0, 0, 0,1);
  }
  .submit{
    background: black;
    color: #FFF;
    box-shadow: -3px -3px 7px #222222, 3px 3px 5px rgba(0, 0, 0, 1);
  }
  .submit:hover{
    box-shadow: inset -3px -3px 7px #222222, inset 3px 3px 5px rgba(0, 0, 0,1);
  }
  .projectscolor{
    color: #39FF14 !important;
  }
  .skillLabel{
    color: #39FF14;
  }
  .resume{
    background: black;
    color:#39FF14;
  }
  .neo{
    background: black;
    color: #FFF;
    box-shadow: -3px -3px 7px #222222, 3px 3px 5px rgba(0, 0, 0, 1);
  }
  .skillMeter{
    box-shadow: -3px -3px 7px #222222, 3px 3px 5px rgba(0, 0, 0, 1);
    background-color: black;
  }
  .logoimg{
    background: #343A40;
    box-shadow: -3px -3px 7px #222222, 3px 3px 5px rgba(0, 0, 0, 1);
  }
  .me{
    color: #39FF14;
  }
  .footer{
    color: #39FF14;
  }
  .footerIcons{
    color: #39FF14;
  }
}