
.myname{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: right;
  padding-right: 10%;
  padding-top: 10%;
  color: white;
}
.home{
  background-color: black;
  height: 100vh;
  justify-content: right;
  text-align: right;
}
.description{
  color: white;
  width: 30%;
  justify-content: right;
  margin-left: 60%;
  text-align: right;
}

.column1 {
  float: left;
  width: 50%;
  padding-top: 7%;
  align-items: center;
  text-align: center;
}


.column2 {
  float: left;
  width: 50%;
  padding: 15px;
  text-align: center;
  align-items: center;
  color: white;
  padding-top: 15%;
  padding-right: 5%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Clear floats after the columns */

.logoimg{
  width: 50%;
  height: auto;
}
.projects{
  padding: 2%;
  background-color: black;
  color: white;
}
.projectsTitle{
  text-align: center;
  margin: 2%;
}
.skills{
  background-color: black;
  height: 70vh;
  padding: 3%;
  color: white;
}

.skillsColumn1 {
  float: left;
  width: 40%;
  padding-top: 7%;
  align-items: center;
  text-align: left;
}


.skillsColumn2 {
  float: left;
  width: 60%;
  padding: 15px;
  text-align: left;
  align-items: center;
  color: white;
  padding-top: 1%;
  padding-right: 5%;
}
.skillMeter{
  background-color: rgb(52,58,64);
  width: auto;
  height: auto;
  border-radius: 7px;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: white;
}
.skillimg{
  margin: 3%;
  width: 20%;
  height: auto;
  align-items: center;
  text-align: center;
  width: 20%;
}
.contact{
  text-align: center;
  background-color: black;
}
.contact-div{
  display: inline-block;
  background-color: rgb(52,58,64);
  width: 80vw;
  height: auto;
  border-radius: 7px;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: white;
}
@media screen and (max-width: 500px) {
  * {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
  }
  .logoimg{
    width: 95vw;
  }
  .column1 {
    width: 100vw;
    align-items: center;
    padding: 25px;
  }
  .column2 {
    width: 100vw;
    padding-right: 0;
    margin: 2vw;
    padding: 15px;
    padding-right: 20px;
  }
  .skillsColumn1 {
    width: 100vw;
    padding: 25px;
  }
  .skillsColumn2 {
    width: 100vw;
    
  }
  .contact{
    box-sizing: border-box;
  }
  .contact-div{
    height: 100px;
  }
}